{% extends 'base.html' %}

{% import 'macros.html' as macro %} 

{% block styles%}
   {{ super() }}
   <link rel="stylesheet" href="../static/main.css/">
   
   
{% endblock %}

{% block content %}
   
<div class="row">
    <div class="left-column">
        <div class="card">
            <h2>TITLE HEADING</h2>
          <ul>
            {{macro.displaySourcesList(title heading)}}
          </ul>
            
            <img src="img/blog1.jpg" alt="blog " />
        
        </div>
        <div class="card">
            <h2>TITLE HEADING</h2>
            <ul>
              {{macro.displaySourcesList(title heading)}}
            </ul>
            <img src="img/blog2.jpg" alt="blog " />
           
        </div>
        <div class="card">
            <h2>TITLE HEADING</h2>
            <ul>
              {{macro.displaySourcesList(title heading)}}
            </ul>
            <img src="img/blog2.jpg" alt="blog " />
        </div>
    </div>
